{% extends "base.html" %}

{% block content %}
<h2>Posts <a href="/atom.xml" style="text-decoration: none; color: inherit; font-size: 1rem; vertical-align: middle;" title="RSS Feed"><i class="fas fa-rss"></i></a></h2>
{% set section = get_section(path="posts/_index.md") %}
{% for page in section.pages %}
<div class="post-entry">
    <div class="date-title">{{ page.date | date(format="%Y-%m-%d") }}    <a href="{{ page.permalink }}">{{ page.title }}</a></div>
    <div class="description">{{ page.description }}</div>
</div>
{% endfor %}

<h2>About Me</h2>
<div style="display: flex; align-items: flex-start; margin-bottom: 2rem;">
    <img src="https://avatars.githubusercontent.com/u/75225148" alt="Avatar" class="avatar" style="margin-right: 1rem;">
    <div>
        <p><strong>Lev Vereshchagin</strong></p>
        <p>Software Developer</p>
    </div>
</div>

<h2>Contact</h2>
<div class="social-links">
    <a href="https://github.com/vrslev" title="GitHub" aria-label="GitHub">
        <i class="fa-brands fa-github fa-2x"></i>
    </a>
    <a href="https://t.me/vrslev" title="Telegram" aria-label="Telegram">
        <i class="fa-brands fa-telegram fa-2x"></i>
    </a>
    <a href="mailto:mail@vrslev.com" title="Mail" aria-label="Mail">
        <i class="fa-regular fa-envelope fa-2x"></i>
    </a>
</div>
{% endblock content %}