{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ super() }}{% endblock title %}

{% block content %}
<style>
    @import url("/syntax-theme-light.css") (prefers-color-scheme: light);
    @import url("/syntax-theme-dark.css") (prefers-color-scheme: dark);

    .page-title {
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: var(--size-xs);
    }

    .post-meta {
        color: var(--color-text-secondary);
        margin-bottom: var(--size-lg);
    }

    .go-back-link {
        margin-top: var(--size-lg);
    }
</style>

<article>
    <h1 class="page-title">{{ page.title }}</h1>
    <div class="post-meta">
        {{ page.date | date(format="%Y-%m-%d, %A") }}
    </div>

    {{ page.content | safe }}

    <div class="go-back-link">
        <a href="/" class="home-link">← Home</a>
    </div>
</article>
{% endblock content %}
