name: Deploy site to Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
      - run: just build minify
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment

  trigger-render-readme:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
    - uses: actions/github-script@v7
      with:
        github-token: ${{ secrets.TRIGGER_RENDER_README_PAT }}
        script: |
          github.rest.repos.createDispatchEvent({
            owner: "vrslev",
            repo: "vrslev",
            event_type: "blog-updated",
          })
